<!DOCTYPE html>

   <head>
      <title>Happy Little Thermostat</title>
	  
		<style>
			.button {
			  display: inline-block;
			  border-radius: 4px;
			  background-color: #f4511e;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 28px;
			  padding: 20px;
			  width: 100px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 5px;
			}

			.button span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			.button span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
			}

			.button:hover span {
			  padding-right: 25px;
			}

			.button:hover span:after {
			  opacity: 1;
			  right: 0;
			}
			body {
				background-color: lightblue;
			}
		</style>
	  
   </head>

   <body>
   <center>
      <h1>Happy Little Thermostat</h1>
	  <table border="0" >
		  <tr>
			  <td>
				<h4> Current Temperature:</h3>
				<h2>{{ currTemp }}<sup> o</sup>F</h2>
			  </td>
			  <td>
				<button class="button" style="vertical-align:middle"><span>&uarr;</span></button>
			  </td>
		  </tr>
		  <tr>
			<td>
				<h4> Set: 0<sup> o</sup>F</h3>
			</td>
			<td>
				<button class="button" style="vertical-align:middle"><span>&darr;</span></button>
			  </td>
		  </tr>
		  
	  </table>
	  <br>
<form>
  <div>
  Motion Sensors:
    <input type="radio" id="contactChoice1"
     name="sensors" value="Auto">
    <label for="contactChoice1">Auto</label>

    <input type="radio" id="contactChoice2"
     name="sensors" value="Home">
    <label for="contactChoice2">Home</label>

    <input type="radio" id="contactChoice3"
     name="sensors" value="Away">
    <label for="contactChoice3">Away</label>
  </div>
</form>
<br><br>

<table border=0>
	<tr>
		<td>Current Humidity:</td>
		<td>Set Humidity:</td>
	</tr>
	<tr>
		<td><textarea readonly rows="4" cols="30">0.00</textarea></td>
		<td><textarea readonly rows="4" cols="30">0.00</textarea></td>
		<td>
			<button class="button" style="vertical-align:middle"><span>&uarr; </span></button>
			<button class="button" style="vertical-align:middle"><span>&darr; </span></button>
		</td>
	<tr>
	<tr><td><br></td></tr>
	<tr><td><h3>Zones:</h3></td></tr>
	<tr>
		<td><input type="checkbox">1</input></td>
		<td><input type="checkbox">2</input></td>
		<td><button class="button" ><span>Auto</span></button></td>
	</tr>
</table>


		
		

</body>
</html>

<!DOCTYPE html>

   <head>
      <title>{{ title }}</title>
	  
		<style>
			.button {
			  display: inline-block;
			  border-radius: 4px;
			  background-color: #f4511e;
			  border: none;
			  color: #FFFFFF;
			  text-align: center;
			  font-size: 28px;
			  padding: 20px;
			  width: 100px;
			  transition: all 0.5s;
			  cursor: pointer;
			  margin: 5px;
			}

			.button span {
			  cursor: pointer;
			  display: inline-block;
			  position: relative;
			  transition: 0.5s;
			}

			.button span:after {
			  content: '\00bb';
			  position: absolute;
			  opacity: 0;
			  top: 0;
			  right: -20px;
			  transition: 0.5s;
			}

			.button:hover span {
			  padding-right: 25px;
			}

			.button:hover span:after {
			  opacity: 1;
			  right: 0;
			}
			body {
				background-color: lightblue;
			}
		</style>
	  
   </head>

   <body>
   <center>
      <h1>Happy Little Thermostat</h1>
	  <table border="0" >
		  <tr>
			  <td>
				<h4> Current Temperature:</h3>
				<h2>{{ currTemp }}<sup> o</sup>F</h2>
			  </td>
			  <td>
				<button class="button" style="vertical-align:middle"><span>&uarr;</span></button>
			  </td>
		  </tr>
		  <tr>
			<td>
				<h4> Set: 0<sup> o</sup>F</h3>
			</td>
			<td>
				<button class="button" style="vertical-align:middle"><span>&darr;</span></button>
			  </td>
		  </tr>
		  
	  </table>
	  <br>
<form>
  <div>
  Motion Sensors:
    <input type="radio" id="contactChoice1"
     name="sensors" value="Auto">
    <label for="contactChoice1">Auto</label>

    <input type="radio" id="contactChoice2"
     name="sensors" value="Home">
    <label for="contactChoice2">Home</label>

    <input type="radio" id="contactChoice3"
     name="sensors" value="Away">
    <label for="contactChoice3">Away</label>
  </div>
</form>
<br><br>

<table border=0>
	<tr>
		<td>Current Humidity:</td>
		<td>Set Humidity:</td>
	</tr>
	<tr>
		<td><textarea readonly rows="4" cols="30">0.00</textarea></td>
		<td><textarea readonly rows="4" cols="30">0.00</textarea></td>
		<td>
			<button class="button" style="vertical-align:middle"><span>&uarr; </span></button>
			<button class="button" style="vertical-align:middle"><span>&darr; </span></button>
		</td>
	<tr>
	<tr><td><br></td></tr>
	<tr><td><h3>Zones:</h3></td></tr>
	<tr>
		<td><input type="checkbox">1</input></td>
		<td><input type="checkbox">2</input></td>
		<td><button class="button" ><span>Auto</span></button></td>
	</tr>
</table>

</body>
</html>
